/*

*/

.version.index /* version checker */
{
	color: #000012;
	background-color: #EF5076;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 930px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #006837;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 20px;
}

#pu83
{
	z-index: 2;
	width: 0.01px;
}

#u83
{
	z-index: 2;
	width: 1280px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#pu411
{
	z-index: 73;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 8px;
}

#u411
{
	z-index: 73;
	width: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 42px;
	position: relative;
}

#u85
{
	z-index: 74;
	width: 150px;
	border-color: #000000;
	background-color: #006837;
	border-radius: 10px;
	padding-bottom: 34px;
	position: relative;
	margin-right: -10000px;
}

#u85:hover
{
	background-color: #22B573;
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u376
{
	z-index: 75;
	width: 83px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 34px;
}

#menuu87
{
	z-index: 4;
	width: 150px;
	height: 310px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 42px;
	margin-top: 67px;
	position: relative;
}

#u389
{
	width: 150px;
	background-color: transparent;
	position: relative;
}

#u392
{
	width: 150px;
	min-height: 44px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif?crc=4208392903");
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u392.MuseMenuActive
{
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-color: #006837;
	width: 150px;
	min-height: 44px;
	margin: 0px -10000px 0px 0px;
}

#u395-4
{
	width: 150px;
	min-height: 44px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u392:hover #u395-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u392.MuseMenuActive #u395-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u392:hover #u395-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u89
{
	width: 150px;
	min-height: 22px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif?crc=4208392903");
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 38px;
	position: relative;
	margin-right: -10000px;
}

#u89:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #22B573;
	width: 150px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u91-4
{
	width: 150px;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 19px;
}

#u89:hover #u91-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u89:active #u91-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u392.MuseMenuActive #u395-4 p,#u89:hover #u91-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u89:active #u91-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u125
{
	width: 150px;
	min-height: 22px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif?crc=4208392903");
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 38px;
	position: relative;
	margin-right: -10000px;
}

#u89:active,#u125:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #22B573;
	width: 150px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u127-4
{
	width: 150px;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 19px;
}

#u89.MuseMenuActive #u91-4,#u125:hover #u127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u125:active #u127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u89.MuseMenuActive #u91-4 p,#u125:hover #u127-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u125:active #u127-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u111
{
	width: 150px;
	min-height: 22px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif?crc=4208392903");
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 39px;
	position: relative;
	margin-right: -10000px;
}

#u125:active,#u111:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #22B573;
	width: 150px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u113-4
{
	width: 150px;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 19px;
}

#u125.MuseMenuActive #u127-4,#u111:hover #u113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u111:active #u113-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u125.MuseMenuActive #u127-4 p,#u111:hover #u113-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u111:active #u113-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u88,#u124,#u110,#u103
{
	width: 150px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u104
{
	width: 150px;
	min-height: 22px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif?crc=4208392903");
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 39px;
	position: relative;
	margin-right: -10000px;
}

#u111:active,#u104:hover
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #22B573;
	width: 150px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u104:active
{
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-color: #22B573;
	width: 150px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u106-4
{
	width: 150px;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 19px;
}

#u111.MuseMenuActive #u113-4,#u104:hover #u106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u104:active #u106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u104.MuseMenuActive #u106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u111.MuseMenuActive #u113-4 p,#u104:hover #u106-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u104:active #u106-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u104.MuseMenuActive #u106-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u4207-4
{
	z-index: 77;
	width: 234px;
	min-height: 13px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif?crc=4208392903");
	background-color: #006837;
	border-radius: 3px;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 24px;
	font-family: '__Cormorant Garamond_5';
	font-weight: 500;
	margin-top: 292px;
	position: relative;
}

#u4207-4:hover
{
	background-color: #22B573;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 234px;
	margin: 292px 0px 0px;
}

#u4207-4.MuseLinkActive
{
	background-color: #006837;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 234px;
	margin: 292px 0px 0px;
}

#u4207-4.MuseLinkActive p
{
	letter-spacing: 1px;
	padding-top: 3px;
	font-size: 15px;
	font-family: '__Alegreya_5';
	font-weight: 400;
	font-style: normal;
}

#u4207-2
{
	padding-top: 3px;
}

#u86
{
	z-index: 3;
	width: 400px;
	height: 930px;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	left: 250px;
	background: transparent url("../images/%d1%81%d0%ba%d0%b8%d1%82_2018-09-14_80-u86-fr.jpg?crc=364082943") no-repeat center center;
	background-size: cover;
}

#pu131-4
{
	z-index: 35;
	width: 0.01px;
	margin: 32px -10000px -30px 682px;
}

#u131-4
{
	z-index: 35;
	width: 543px;
	min-height: 54px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
}

#u145
{
	z-index: 48;
	width: 563px;
	height: 1px;
	border-color: #000000;
	background-color: #DA293E;
	position: relative;
}

#u139-4
{
	z-index: 43;
	width: 563px;
	min-height: 85px;
	background-color: transparent;
	margin-top: 5px;
	position: relative;
}

#pu141
{
	z-index: 47;
	width: 0.01px;
	margin-top: 14px;
}

#u141
{
	z-index: 47;
	width: 260px;
	height: 159px;
	border-width: 0px;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/%d1%81%d0%ba%d0%b8%d1%82_2018-09-14_75-u141-fr.jpg?crc=3945399760") no-repeat center center;
	background-size: cover;
}

#u143
{
	z-index: 50;
	width: 260px;
	height: 159px;
	border-width: 0px;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
	left: 303px;
	background: transparent url("../images/%d1%81%d0%ba%d0%b8%d1%82_2018-09-14_74-u143-fr.jpg?crc=91484285") no-repeat center center;
	background-size: cover;
}

#u4211-7
{
	z-index: 81;
	width: 563px;
	min-height: 154px;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
}

#u4211-2,#u4211-3
{
	letter-spacing: 1px;
}

#u4211-5,#u4211-4
{
	text-align: right;
}

#u149-4
{
	z-index: 39;
	width: 543px;
	min-height: 54px;
	background-color: transparent;
	line-height: 41px;
	margin-top: 18px;
	position: relative;
}

#u150
{
	z-index: 49;
	width: 563px;
	height: 1px;
	border-color: #000000;
	background-color: #DA293E;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u167-4
{
	z-index: 53;
	width: 563px;
	min-height: 84px;
	background-color: transparent;
	letter-spacing: 1px;
	margin-top: 7px;
	position: relative;
}

#pu173
{
	z-index: 51;
	width: 0.01px;
	margin-top: 1px;
}

#u173
{
	z-index: 51;
	width: 374px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 244px;
}

#u173_img
{
	margin-top: -23px;
	margin-right: -10px;
	margin-bottom: -23px;
}

#u179-13
{
	z-index: 57;
	width: 316px;
	min-height: 196px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u179-2
{
	line-height: 21px;
	padding-bottom: 5px;
}

#u179
{
	text-decoration: underline;
}

#u179-11
{
	padding-left: 14px;
}

#u179-11.rtl-list
{
	padding-left: 0px;
	padding-right: 14px;
}

#u179-11 > li:before
{
	content: '●';
	color: #D82C42;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u388
{
	z-index: 71;
	width: 92px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 899px;
	left: 682px;
}

#u388_states
{
	float: left;
	width: 92px;
	height: 28px;
	background: transparent url("../images/u388_states.png?crc=3973915510") no-repeat 0px 0px;
}

#u388:hover #u388_states
{
	background: transparent url("../images/u388_states-r.png?crc=4215965812") no-repeat 0px 0px;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 989px);
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	min-width: 1320px;
}

@font-face
{
	font-family: '__Karina_5';
	src: url('../fonts/karina.eot');
	src: local('☺'), url('../fonts/karina.woff') format('woff'), url('../fonts/karina.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Alegreya_5';
	src: url('../fonts/alegreya-regular.eot');
	src: local('☺'), url('../fonts/alegreya-regular.woff') format('woff'), url('../fonts/alegreya-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Cormorant Garamond_5';
	src: url('../fonts/cormorantgaramond-medium.eot');
	src: local('☺'), url('../fonts/cormorantgaramond-medium.woff') format('woff'), url('../fonts/cormorantgaramond-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

