/*

*/

.version.skit /* version checker */
{
	color: #00001F;
	background-color: #9F789E;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 891px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #006837;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 20px 79px;
}

#u822
{
	z-index: 2;
	width: 1280px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#pu823
{
	z-index: 3;
	width: 0.01px;
	margin-bottom: -79px;
	margin-right: -10000px;
}

#u823
{
	z-index: 3;
	width: 1280px;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #E8E3E3));
	background: -webkit-linear-gradient(top,#FFFFFF ,#E8E3E3 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#E8E3E3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFE8E3E3, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE8E3E3', GradientType=0)";
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
}

#u873
{
	z-index: 60;
	width: 150px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -47px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 50px;
}

#u874
{
	z-index: 61;
	width: 150px;
	border-color: #000000;
	background-color: #006837;
	border-radius: 10px;
	padding-bottom: 34px;
	position: relative;
	margin-right: -10000px;
}

#u874:hover
{
	background-color: #22B573;
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u875
{
	z-index: 62;
	width: 83px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 34px;
}

#u872-4
{
	z-index: 56;
	width: 272px;
	min-height: 38px;
	background-color: #006837;
	border-radius: 3px;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 32px;
	font-family: '__Cormorant Garamond_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 682px;
}

#u872-4:hover
{
	background-color: #22B573;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 272px;
	margin: 39px -10000px 0px 0px;
}

#u872-4.MuseLinkActive
{
	background-color: #006837;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 272px;
	margin: 39px -10000px 0px 0px;
}

#u872-4.MuseLinkActive p
{
	letter-spacing: 1px;
	padding-top: 3px;
	font-size: 15px;
	font-family: '__Alegreya_5';
	font-weight: 400;
	font-style: normal;
}

#u872-2
{
	padding-top: 3px;
}

#u4196
{
	z-index: 90;
	width: 105px;
	min-height: 24px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 1140px;
}

#u824
{
	z-index: 4;
	width: 400px;
	height: 930px;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	left: 250px;
	background: transparent url("../images/18558749_1508882169185256_10614386731095063_o-u824-fr.jpg?crc=3797401691") no-repeat center center;
	background-size: cover;
}

#u824:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 400px;
	height: 930px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background-size: cover;
}

#menuu825
{
	z-index: 5;
	width: 150px;
	height: 355px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 50px;
}

#u854
{
	width: 150px;
	background-color: transparent;
	position: relative;
}

#u855
{
	width: 150px;
	min-height: 44px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
}

#u855:hover
{
	background-color: #22B573;
	width: 150px;
	min-height: 44px;
	margin: 0px -10000px 0px 0px;
}

#u855:active
{
	background-color: #22B573;
	width: 150px;
	min-height: 44px;
	margin: 0px -10000px 0px 0px;
}

#u856-4
{
	width: 150px;
	min-height: 44px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u855:hover #u856-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u855:active #u856-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u855.MuseMenuActive #u856-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u855:hover #u856-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u855:active #u856-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u836
{
	width: 150px;
	min-height: 22px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 47px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u836.MuseMenuActive
{
	background-color: #006837;
	width: 150px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u839-4
{
	width: 150px;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 23px;
	left: 0px;
}

#u836:hover #u839-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u836:active #u839-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u836:hover #u839-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u836:active #u839-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u848
{
	width: 150px;
	min-height: 22px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 47px;
	position: relative;
	margin-right: -10000px;
}

#u848:hover
{
	background-color: #22B573;
	width: 150px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u849-4
{
	width: 150px;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 23px;
}

#u836.MuseMenuActive #u839-4,#u848:hover #u849-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u848:active #u849-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u836.MuseMenuActive #u839-4 p,#u848:hover #u849-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u848:active #u849-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u827
{
	width: 150px;
	min-height: 22px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 48px;
	position: relative;
	margin-right: -10000px;
}

#u848:active,#u827:hover
{
	background-color: #22B573;
	width: 150px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u829-4
{
	width: 150px;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
}

#u848.MuseMenuActive #u849-4,#u827:hover #u829-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u827:active #u829-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u827:hover #u829-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u827:active #u829-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u833,#u847,#u826,#u840
{
	width: 150px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u843
{
	width: 150px;
	min-height: 22px;
	background-color: transparent;
	border-radius: 5px;
	padding-bottom: 48px;
	position: relative;
	margin-right: -10000px;
}

#u827:active,#u843:hover
{
	background-color: #22B573;
	width: 150px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u843:active
{
	background-color: #22B573;
	width: 150px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u844-4
{
	width: 150px;
	min-height: 22px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 24px;
}

#u827.MuseMenuActive #u829-4,#u843:hover #u844-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u843:active #u844-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u843.MuseMenuActive #u844-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 150px;
	margin: 0px -10000px 0px 0px;
}

#u843:hover #u844-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u843:active #u844-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u855.MuseMenuActive #u856-4 p,#u848.MuseMenuActive #u849-4 p,#u827.MuseMenuActive #u829-4 p,#u843.MuseMenuActive #u844-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 18px;
	text-align: left;
	line-height: 1.2;
	font-family: '__Karina_5';
	font-weight: 400;
	font-style: normal;
	padding: 0px 0px 0px 20px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u861-4
{
	z-index: 36;
	width: 543px;
	min-height: 54px;
	background-color: transparent;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 682px;
}

#u862-6
{
	z-index: 40;
	width: 563px;
	min-height: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 209px;
	left: 682px;
}

#u863
{
	z-index: 46;
	width: 563px;
	height: 1px;
	border-color: #000000;
	background-color: #DA293E;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 682px;
}

#u868-6
{
	z-index: 47;
	width: 250px;
	min-height: 15px;
	background-color: transparent;
	color: #000000;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	font-family: merienda-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 901px;
}

#u870
{
	z-index: 52;
	width: 11px;
	background-color: transparent;
}

#u870_img
{
	vertical-align: bottom;
}

#u1036-13
{
	z-index: 64;
	width: 266px;
	min-height: 199px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 368px;
	left: 682px;
}

#u1036-11
{
	padding-left: 14px;
}

#u1036-11.rtl-list
{
	padding-left: 0px;
	padding-right: 14px;
}

#u1036-11 > li:before
{
	content: '●';
	color: #D82C42;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u1039-4
{
	z-index: 77;
	width: 543px;
	min-height: 54px;
	background-color: transparent;
	line-height: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 582px;
	left: 682px;
}

#u1040
{
	z-index: 81;
	width: 563px;
	height: 1px;
	border-color: #000000;
	background-color: #DA293E;
	position: relative;
	margin-right: -10000px;
	margin-top: 644px;
	left: 682px;
}

#u1038-6
{
	z-index: 82;
	width: 193px;
	min-height: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 672px;
	left: 682px;
}

#u1137
{
	z-index: 88;
	width: 400px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 677px;
	left: 880px;
}

#u1137_img
{
	margin-top: -25px;
	margin-right: -11px;
	margin-bottom: -24px;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1037px);
}

.html
{
	background-color: #000000;
}

body
{
	position: relative;
	min-width: 1320px;
}

@font-face
{
	font-family: '__Alegreya_5';
	src: url('../fonts/alegreya-regular.eot');
	src: local('☺'), url('../fonts/alegreya-regular.woff') format('woff'), url('../fonts/alegreya-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Karina_5';
	src: url('../fonts/karina.eot');
	src: local('☺'), url('../fonts/karina.woff') format('woff'), url('../fonts/karina.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Cormorant Garamond_5';
	src: url('../fonts/cormorantgaramond-medium.eot');
	src: local('☺'), url('../fonts/cormorantgaramond-medium.woff') format('woff'), url('../fonts/cormorantgaramond-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

